* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  min-width: 20em;
  margin: 0;
  padding: 0;
}

html {
  color: #111;
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #edf0f2;
}

p,
ul {
  margin: 0 0 0.5em;
}

ul {
  padding: 0 0 0 1em;
}

a {
  color: #000;
  border-bottom: 1px dashed #aaa;
  text-decoration: none;
}

a:hover {
  color: #f20;
}

.section-table {
  display: table;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section-row {
  display: table-row;
}

.section-cell {
  display: table-cell;
}

.print-link,
.section-resume {
  display: none;
}

.masterpiece-container {
  height: 100%;
}

.masterpiece {
  padding: 15px;
  text-align: center;
  font-family: Georgia, Times, "Times New Roman", serif;
  vertical-align: middle;
  /* Full shadow around each letter */
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
}

.masterpiece-title {
  position: relative;
  display: block;
  margin: 0;
  padding: 0.3em 0;
  color: #f20;
  font-size: 4em;
  line-height: 1;
  font-weight: bold;
  text-transform: lowercase;
  border-bottom: 1px dashed #aaa;
}

/* Create a subtle double layered border effect to give some depth */
.masterpiece-title:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  display: block;
  border-bottom: 1px dashed #fff;
}

.masterpiece-title span {
  color: #111;
}

.masterpiece-social {
  margin: 0.5em 0;
  font-size: 1.8em;
  line-height: 1.8;
}

.masterpiece-link {
  display: inline-block;
  position: relative;
  width: 100%;
  border-bottom: none;
  text-transform: lowercase;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -ms-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.masterpiece-link:after,
.masterpiece-link:before {
  content: "{";
  color: #111;
  opacity: 0;
  padding: 0 1px;

  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.masterpiece-link:after {
  content: "}";
}

.masterpiece-link:hover:after,
.masterpiece-link:hover:before {
  opacity: 1;
}

@media (min-width: 33em) {
  .masterpiece-title {
    display: inline-block;
  }

  .masterpiece-title br {
    display: none;
  }

  .masterpiece-link {
    display: inline;
    width: auto;
  }
}

@media (min-width: 38em) {
  .masterpiece {
    font-size: 120%;
  }
}

@media (min-width: 42em) {
  .masterpiece {
    font-size: 140%;
  }
}

@media (min-width: 44em) {
  .masterpiece {
    font-size: 150%;
  }
}

.social .section-cell {
  color: #aaa;
  text-align: center;
  border-top: 1px dashed;
  background-color: #fff;
}

.social-link {
  display: inline-block;
  padding: 0.8em;
  /* Removes link styles */
  color: inherit;
  border-bottom: none;
}

.social-link.icon-facebook:hover {
  color: #3b5998;
}

.social-link.icon-twitter:hover {
  color: #00aced;
}

.social-link.icon-gplus:hover {
  color: #dd4b39;
}

.social-link.icon-linkedin:hover {
  color: #007bb6;
}

.social-link.icon-github:hover {
  color: #4183c4;
}

.social-link.icon-lastfm:hover {
  color: #ca392c;
}

.social-link.icon-link:hover {
  color: #12c;
}

.social-link.icon-angellist:hover {
  color: #272829;
}

.resume {
  font-size: 0.9em;
}

.resume-title {
  color: #f20;
  margin: 0 0 0.5em;
  font-size: 1.6em;
  text-transform: uppercase;
}

.resume-content {
  padding: 15px;
  text-align: left;
}

.resume-subsection {
  display: block;
  padding: 0.3em 0 0.3em 0.8em;
  margin-bottom: 1em;
  font-size: 0.95em;
  border-left: 4px solid;
}

.resume-subsection p,
.resume-subsection ul,
.resume-subsection-title,
.resume-subsection-subtitle {
  margin-bottom: 0.35em;
}

.resume-subsection-title,
.resume-subsection-duration {
  font-size: 1.2em;
}

.resume-subsection-title,
.resume-subsection-subtitle {
  display: block;
  margin: 0 0 0.5em;
}

.resume-subsection-title {
  font-weight: bold;
  text-transform: uppercase;
}

.resume-subsection-duration {
  float: right;
  margin-left: 0.35em;
}

.resume-subsection-subtitle {
  font-style: italic;
}

@media print, (min-width: 40em) {
  .resume-content {
    float: left;
    width: 50%;
  }
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

/* When printing, we need to compact some of the interface and restructure to a resume */
@media print {
  /* Set html and body height to `auto` to avoid phantom second page in print */
  html,
  body {
    width: auto;
    height: auto;
  }

  html {
    color: #000;
    background-color: #fff;
  }

  .resume,
  .masterpiece {
    max-width: none;
    padding-bottom: 0;
  }

  .section-row,
  .section-cell,
  .section-table {
    display: block;
    min-height: 0;
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: none;
  }

  .print-link,
  .section-resume {
    display: block;
  }

  .social,
  .masterpiece-link,
  .masterpiece-title:after {
    display: none;
  }

  .masterpiece-title {
    margin: 0;
    padding: 0;
    float: left;
    color: #000;
    font-size: 1.8em;
    text-align: left;
    border-bottom: none;
    text-transform: uppercase;
  }

  .masterpiece-title br {
    display: block;
  }

  .masterpiece-social {
    float: right;
    margin: 0;
    font-size: 0.8em;
    line-height: 1.5;
    text-align: right;
  }
}
